<center>
<p id="notice"><%= notice %></p>

<table border=1px>
<tr>
  <td>EmpName:</td>
  <td><%= @employee.name %></td>
</tr>

<tr>
  <td><b>Date:</b></td>
  <td><%= @employee.date %></td>
</tr>

<tr>
  <td><b>present:</b>
  <td><%= @employee.present %></td>
</tr>
<tr>
  <td><b> late:</b></td>
  <td><%= @employee.late %></td>
</tr>
<tr>
  <td><b> absent:</b></td>
  <td><%= @employee.absent %></td>
</tr>
<tr>

<%= render :partial => "departments/department",
           :member => @employees.departments %>
 <%= link_to "department", new_department_path(@employee) %>
<td>Add a Department:</td>
<%= render "departments/new" %>
</tr>
</table>
<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
</center>
