<h1>Listing registers</h1>

<table>
  <tr>
    <th>E</th>
    <th>Date</th>
    <th>Present</th>
    <th>Late</th>
    <th>Absent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registers.each do |register| %>
  <tr>
    <td><%= register.e_id %></td>
    <td><%= register.date %></td>
    <td><%= register.present %></td>
    <td><%= register.late %></td>
    <td><%= register.absent %></td>
    <td><%= link_to 'Show', register %></td>
    <td><%= link_to 'Edit', edit_register_path(register) %></td>
    <td><%= link_to 'Destroy', register, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Register', new_register_path %>
